<app-header></app-header>
<div class="container pt-3 my-3" >
			<!-- Register-form -->
			<div class="top-grids">
				<div class="w3l-main-2">
				   <h3>Registration Form</h3>
             <form (ngSubmit)="registerationForm.valid && createNewUser(registerationForm)"
                    #registerationForm="ngForm">
              <div *ngIf="model.statusCd && model.statusCd=='208'" class="alert alert-danger" role="alert">
                    Email Id is already Registered!
              </div>
              <div *ngIf="model.statusCd && model.statusCd=='200'" class="alert alert-success" role="alert">
                  Your registration is successfull. Please login to the application!
              </div>
              <div *ngIf="model.statusCd && model.statusCd=='500'" class="alert alert-danger" role="alert">
                An unknown error occured. Please try again or contact the admin !
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">User Name*</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Username"  id="userName"
                    name="userName" aria-describedby="basic-addon1" required  minlength="5"
                    maxlength="20" [(ngModel)]="model.userName" #userName="ngModel">
                </div>
                <span class="text-danger" *ngIf="(userName.touched || registerationForm.submitted) &&
                      userName.errors?.required">Error : User Name is required !</span>
                <span class="text-danger" *ngIf="(userName.touched || registerationForm.submitted) &&
                      userName.errors?.minlength">Error : User Name  must be at least 5 characters long. !</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name*</span>
                  </div>
                  <input type="text" class="form-control" aria-label="CustomerName"  id="customerName"
                    name="customerName" aria-describedby="basic-addon1" minlength="4" maxlength="30"
                    required [(ngModel)]="model.customerName" #customerName="ngModel">
                </div>
                <span class="text-danger" *ngIf="(customerName.touched || registerationForm.submitted) &&
                      customerName.errors?.required">Error : Name is required !</span>
                <span class="text-danger" *ngIf="(customerName.touched || registerationForm.submitted) &&
                customerName.errors?.minlength">Error : Name  must be at least 4 characters long. !</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Mobile Number*</span>
                  </div>
                  <input type="text" class="form-control" aria-label="MobileNumber"  id="mobileNumber"
                    name="mobileNumber" aria-describedby="basic-addon1" minlength='10' maxlength='10'
                    pattern="^[0-9]+$" required [(ngModel)]="model.mobileNumber" #mobileNumber="ngModel">
                </div>
                <span class="text-danger" *ngIf="(mobileNumber.touched || registerationForm.submitted) &&
                    mobileNumber.errors?.required">Error : Mobile Number is required !</span>
                <span class="text-danger" *ngIf="(mobileNumber.touched || registerationForm.submitted) &&
                    mobileNumber.errors?.pattern">Error : Mobile Number must be numeric !</span>
                <span class="text-danger" *ngIf="(mobileNumber.touched || registerationForm.submitted) &&
                (!mobileNumber.errors?.pattern && (mobileNumber.errors?.minlength || mobileNumber.errors?.maxlength))">
                  Error : Mobile Number  must be 10 digit number. !</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email address*</span>
                  </div>
                  <input type="email" class="form-control" aria-label="Email"  id="email"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    name="email" aria-describedby="basic-addon1"
                    required [(ngModel)]="model.email" #email="ngModel">
                </div>
                <span class="text-danger" *ngIf="(email.touched || registerationForm.submitted) &&
                    email.errors?.required">Error : Email address is required !</span>
                <span class="text-danger" *ngIf="(email.touched || registerationForm.submitted) &&
                   email.errors?.pattern">Error : Please provide a valid email address !</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Confirm Email address*</span>
                  </div>
                  <input type="email" class="form-control" aria-label="ConfirmEmail"  id="confirmEmail"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    name="confirmEmail" aria-describedby="basic-addon1"
                    required [(ngModel)]="model.confirmEmail" #confirmEmail="ngModel">
                </div>
                <span class="text-danger" *ngIf="(confirmEmail.touched || registerationForm.submitted) &&
                confirmEmail.errors?.required">Error : Confirm Email address is required !</span>
                <span class="text-danger" *ngIf="(confirmEmail.touched || registerationForm.submitted) &&
                confirmEmail.errors?.pattern">Error : Please provide a valid email address !</span>
                <span class="text-danger" *ngIf="(confirmEmail.touched || registerationForm.submitted) &&
                (!confirmEmail.errors?.required && !confirmEmail.errors?.pattern && confirmEmail.value!=email.value)">Error : Email & Confirm Email should be same !</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Address*</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Address"  id="address"
                    name="address" aria-describedby="basic-addon1" minlength="10" maxlength="100"
                    required [(ngModel)]="model.address" #address="ngModel">
                </div>
                <span class="text-danger" *ngIf="(address.touched || registerationForm.submitted) &&
                address.errors?.required">Error : Address is required !</span>
                <span class="text-danger" *ngIf="(address.touched || registerationForm.submitted) &&
                (address.errors?.minlength)">
                Error : Address  must be at least 10 characters long. !</span>
              </div>
              <h3 class="w3l-main-3">Login Information</h3>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Enter Password*</span>
                  </div>
                  <input type="password" class="form-control" aria-label="Password"  id="password"
                    name="password" aria-describedby="basic-addon1" minlength="5" maxlength="20"
                    required [(ngModel)]="model.password" #password="ngModel">
                </div>
                <span class="text-danger" *ngIf="(password.touched || registerationForm.submitted) &&
                password.errors?.required">Error : Password is required !</span>
                <span class="text-danger" *ngIf="(password.touched || registerationForm.submitted) &&
                (password.errors?.minlength)">
                  Error : Password  must be at least 5 characters long. !</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Confirm Password*</span>
                  </div>
                  <input type="password" class="form-control" aria-label="ConfirmPassword"  id="confirmPassword"
                    name="confirmPassword" aria-describedby="basic-addon1" minlength="5" maxlength="20"
                    required [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel">
                </div>
                <span class="text-danger" *ngIf="(confirmPassword.touched || registerationForm.submitted) &&
                confirmPassword.errors?.required">Error : Confirm Password is required !</span>
                <span class="text-danger" *ngIf="(confirmPassword.touched || registerationForm.submitted) &&
                (confirmPassword.errors?.minlength)">Error : Confirm Password  must be at least 5 characters long. !</span>
                <span class="text-danger" *ngIf="(confirmPassword.touched || registerationForm.submitted) &&
                (!confirmPassword.errors?.required && !confirmPassword.errors?.minlength && confirmPassword.value!=password.value)">Error : Password & Confirm Password should be same !</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Hint Question*</span>
                  </div>
                  <select class="custom-select" required id="hintQuestion" name="hintQuestion"
                    [(ngModel)]="model.hintQuestion" #hintQuestion="ngModel">
                      <option value="">Select Question</option>
                      <option value="Birth">Your Birth Place?</option>
                      <option value="Company">Your first company?</option>
                      <option value="Color">Your favourite color?</option>
                      <option value="Teacher">Your best teacher name?</option>
                    </select>
                </div>
                <span class="text-danger" *ngIf="(hintQuestion.touched || registerationForm.submitted) &&
                hintQuestion.errors?.required">Error : Hint Question is required !</span>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Hint Answer*</span>
                  </div>
                  <input type="text" class="form-control" aria-label="HintAnswer"  id="hintAnswer"
                    name="hintAnswer" aria-describedby="basic-addon1" minlength='4' maxlength='20'
                    required [(ngModel)]="model.hintAnswer" #hintAnswer="ngModel">
                </div>
                <span class="text-danger" *ngIf="(hintAnswer.touched || registerationForm.submitted) &&
                hintAnswer.errors?.required">Error : Hint Answer is required !</span>
                <span class="text-danger" *ngIf="(hintAnswer.touched || registerationForm.submitted) &&
                (hintAnswer.errors?.minlength)">Error : Hint Answer  must be at least 4 characters long. !</span>
              </div>
              <input type="submit" value="Register">
              <input type="reset" value="Cancel">
						</form>
				</div>
			<div class="clear"></div>
			<!-- //Register-form -->
		</div>

