.container{
  margin: auto;
	width: 70%;
}

/*-- Profile-form --*/
.top-grids {
  background: linear-gradient(45deg, #56ab2f, #a8e063);
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group>.input-group-prepend {
  flex: 0 0 50%;
}

.input-group-prepend {
  margin-right: -1px;
}

.text-danger {
  color: #ff0000!important;
  font-weight: 300;
}

.w3l-main-3 h3 {
  background: #000;
  color: #fff;
  font-size: 0.25 em;
  text-align: center;
  text-transform: uppercase;
}

.secheading {
  margin-top: 10px;
  background: rgb(129, 127, 127);
  color: #fff;
  text-align: left;
}

.w3l-main-3 input[type="reset"], .w3l-main-3 input[type="submit"] {
  border-radius: 1px;
  padding: 1% 1%;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #000;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 1%;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: Poppins-Bold;
}
.w3l-main-3 input[type="reset"]:hover, .w3l-main-3 input[type="submit"]:hover {
  background: #000;
  color: #fff;
transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
/*-- //Login-form --*/

.w3l-main-3 form {
  width: 100%;
  margin: 2% auto;

}

.w3l-main-3 select,.w3l-main-3 input[type="text"],.w3l-main-3 input[type="number"], .w3l-main-3 input[type="password"], .w3l-main-2 input[type="email"] {
  border: none;
  outline: none;
  font-size: 1em;
  color: #000;
  font-family: Poppins-Bold;
  width: 100%;
}
.w3l-main-3 input[type="submit"]{
margin:7% 0em 1.4%;
font-family: Poppins-Bold;
}

