/*-- main --*/
.wrap {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*-- Profile-form --*/
.top-grids {
  background: #1752aa;
}

.w3l-main h3, .w3l-main-2 h3, .form h3{
  padding: 0.5% 0%;
  background: #fff;
  color: #000;
  font-size: 1 em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.w3l-main-2 input[type="reset"], .w3l-main-2 input[type="submit"] {
  padding: 2% 2%;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 600;
  color: #000;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 4%  7.5%;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: 'Roboto', sans-serif;
}
.w3l-main-2 input[type="reset"]:hover, .w3l-main-2 input[type="submit"]:hover {
  background: #000;
  color: #fff;
transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
/*-- //Login-form --*/

.w3l-main-2 form {
  width: 60%;
  margin: 7.8% auto;
}
.w3l-main-2 select,.w3l-main-2 input[type="text"],.w3l-main-2 input[type="number"], .w3l-main-2 input[type="password"], .w3l-main-2 input[type="email"] {
  width: 100%;
  padding: 3% 1.5%;
  border: none;
  outline: none;
  font-size: 1em;
  margin-bottom: 7.2%;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
.w3l-main-2 input[type="submit"]{
margin:7% 0em 1.4%;
font-family: 'Roboto', sans-serif;
}
