<div class="wrap justify-content-center align-items-center" >
  <div class="total-content">
    <!-- Login-form -->
    <div class="top-grids">
      <div class="w3l-main-2">
         <h3>Login Form</h3>
           <form class="col-12">
            <input type="text" class="name" name="username" placeholder="User Name*" required="">
            <input type="password" class="password" placeholder="Enter Password*" name="password" required="">
            <input type="submit" value="Login">
            <input type="reset" value="Cancel">
          </form>
      </div>
    </div>
    <div class="clear"></div>
    <!-- //Login-form -->
  </div>

