<div class="wrap justify-content-center align-items-center" >
		<div class="total-content">
			<!-- Register-form -->
			<div class="top-grids">
				<div class="w3l-main-2">
				   <h3>Registration Form</h3>
					   <form class="col-12">
              <input type="text" class="name" name="username" placeholder="User Name*" required="">
              <input type="text" class="name" name="customerName" placeholder="Name*" required="">
              <input type="number" class="name" name="mobileNumber" placeholder="Mobile Number*" required="">
              <input type="email" class="email" placeholder="Email address*" name="email" required="">
              <input type="email" class="email" placeholder="Confirm Email address*" name="confirmEmail" required="">
              <input type="text" class="name" name="address" placeholder="Address*" required="">
					    <input type="password" class="password" placeholder="Enter Password*" name="password" required="">
              <input type="password" class="password" placeholder="Confirm Password*" name="confirmPassword" required="">
              <select name="questions" required="">
                <option value="" selected>Hint Question*</option>
                <option value="Birth">Your Birth Place?</option>
                <option value="Company">Your first company?</option>
                <option value="Color">Your favourite color?</option>
                <option value="Teacher">Your best teacher name?</option>
              </select>
              <input type="text" class="name" name="hintanswer" placeholder="Hint Answer*" required="">
              <input type="submit" value="Register">
              <input type="reset" value="Cancel">
						</form>
				</div>
			</div>
			<div class="clear"></div>
			<!-- //Register-form -->
		</div>

