<app-header></app-header>
<div class="container p-3 my-3">
  <div class="total-content">
    <!-- Login-form -->
    <div class="top-grids">
      <div class="w3l-main-2">
        <h3>Login Form</h3>
        <form (ngSubmit)="loginForm.valid && validateUser(loginForm)" #loginForm="ngForm">
          <div *ngIf="model.statusCd && model.statusCd=='404'" class="alert alert-danger" role="alert">
            User not registered !
          </div>
          <div *ngIf="model.statusCd && model.statusCd=='401'" class="alert alert-danger" role="alert">
            Invalid credentials entered!
          </div>
          <div *ngIf="model.statusCd && model.statusCd=='500'" class="alert alert-danger" role="alert">
            An unknown error occured. Please try again or contact the admin !
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">User Name*</span>
              </div>
              <input type="text" class="form-control" aria-label="UserName" id="userName" name="userName"
                aria-describedby="basic-addon1" required [(ngModel)]="model.userName" #userName="ngModel" minlength="5"
                maxlength="20">
            </div>
            <span class="text-danger" *ngIf="(userName.touched || loginForm.submitted) &&
                  userName.errors?.required">Error : User Name is required !</span>
            <span class="text-danger" *ngIf="(userName.touched || loginForm.submitted) &&
                  userName.errors?.minlength">Error : User Name must be at least 5 characters long. !</span>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password*</span>
              </div>
              <input type="password" class="form-control" aria-label="Password" id="password" name="password"
                minlength="5" maxlength="20" aria-describedby="basic-addon1" required [(ngModel)]="model.password"
                #password="ngModel">
            </div>
            <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) &&
              password.errors?.required">Error : Password is required !</span>
            <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) &&
                (password.errors?.minlength)">
              Error : Password must be at least 5 characters long. !</span>
          </div>
          <input type="submit" value="Login">
          <input type="reset" value="Cancel">
        </form>
      </div>
    </div>
    <div class="clear"></div>
    <!-- //Login-form -->
  </div>
